/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  text-decoration: none;
  color: #fd680e;
}

a:hover {
  color: #ff8f4c;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
#section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  z-index: 9;
}
#section .section-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}
#section h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  line-height: 56px;
  color: #fff;
}
#section h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 24px;
}

@-webkit-keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  #section {
    background: url("../img/mobile.jpg") left top;
  }
}

@media (min-width: 768px) {
  #section {
    background: url("../img/desktop.jpg") center top;
  }
}

@media (min-width: 1024px) {
  #section {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #section h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #section h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
}

.section-bg {
  background-color: #fff7f2;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 15px;
  position: relative;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 1px;
  background: #fd680e;
  bottom: 0;
  left: calc(50% - 40px);
}
.section-title p {
  margin-bottom: 0;
  font-style: italic;
  color: #666666;
}